<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
    <appSettings>
      <!--Logs-->
      <add key="LOG_PATH" value="C:\Log" />
      
      <!--Url Arduino-->
      <add key="ARDUINO_URL" value="http://192.168.43.179" />
      
      <!--Canales de Arduino-->
      <add key="CANAL_DIRECCION" value="11" />
      <add key="CANAL_POTENCIA" value="10" />
      
      <!--Incrementos y decrementos-->
      <add key="GIRO" value="5" />
      <add key="GIRO_FUERTE" value="20" />
      <add key="INCREMENTO_POTENCIA" value="10" />
      <add key="INCREMENTO_POTENCIA_FUERTE" value="25" />
    
      <!--Configuración del gamepad-->
      <add key="NUMERO_BOTON_INICIO" value="9" />
      <add key="NUMERO_BOTON_STOP" value="8" />
      <add key="NUMERO_BOTON_ANULAR_DIRECCION" value="0" />
      <add key="NUMERO_BOTON_ANULAR_POTENCIA" value="1" />
      
      <add key="NUMERO_AXES_DIRECCION" value="0" />
      <add key="VALOR_AXES1_GIRAR_DERECHA" value="1" />
      <add key="VALOR_AXES1_GIRAR_IZQUIERDA" value="-1" />
      
      <add key="NUMERO_AXES_POTENCIA" value="1" />
      <add key="VALOR_AXES1_AUMENTAR_POTENCIA" value="-1" />
      <add key="VALOR_AXES1_DISMINUIR_POTENCIA" value="1" />
      
      <add key="NUMERO_AXES_DIRECCION_2" value="9" />
      <add key="VALOR_AXES2_GIRAR_DERECHA" value="-0.4285714030265808" />
      <add key="VALOR_AXES2_GIRAR_IZQUIERDA" value="0.7142857313156128" />
      
      <add key="NUMERO_AXES_POTENCIA_2" value="9" />
      <add key="VALOR_AXES2_AUMENTAR_POTENCIA" value="-1" />
      <add key="VALOR_AXES2_DISMINUIR_POTENCIA" value="0.14285719394683838" />
      
      <add key="VOLVER_A_NEUTRA_DIRECCION" value="true" />
      <add key="VOLVER_A_NEUTRA_POTENCIA" value="true" />
    </appSettings>

</configuration>
