
#paTitulo {
    text-align: center;
    font-family: sans-serif;
    font-size: xx-large;
    padding: 5px;
}

#paMandoControl {
    width: 630px;
    float: left;
    margin: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}

#paControles {
    margin: 10px;
    text-align: center;
}

#paInicio {
    padding: 5px;
    text-align: right;
    border-top-style: solid;
    border-top-width: 1px;
}

#paSensores {
    margin-left: 23px;
    margin-right: 23px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 5px;
}

.panelBotonera {
    padding: 5px;
    text-align: right;
    /*visibility: hidden;*/
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.btFlecha {
    
}

#paLog {
    margin-top: 10px;
    width: 370px;
    height: 644px;
    overflow: scroll;
    display: inline-block;
    float: right;
    border-style: solid;
    border-width: 1px;
}

#paLecturas {
    margin: 5px;
    background-color: gainsboro;
    text-align: center;
    font-size: 17px;
}

.panelControl{
    display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    width: 280px;
}

#lbGamePad {
    float: left;
    margin-left: 5px;
}

#btGamePad {
    float: left;
    margin-top: -2px;
    display: none;
}


body {
    width: 1024px;
    margin: auto;
}


html {
    width: 1000px;
    margin: auto;
}

